{% extends 'layouts/base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="banniere">
        <div class="banniere-content">
            ACUTALITÉS
        </div>
    </div>
    <!-- Code pour les actualités -->
{% endblock %}
