{% extends 'layouts/base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div class="banniere">
        <div class="banniere-content">
            BOUTIQUE
        </div>
    </div>

    <div class="container store-card-grec-meso container-info">
        <div class="store-card-grec-meso-left">
            <img class="img-fluid" src="/ressources/brand/grecmeso3d.png" alt="Boite Grec vs Mésopotamien">
            <div>
                <h4 class="text-center p-2">GREC VS MESOPOTAMIEN</h4>
                <h1 class="text-center"><b>€27,00</b></h1>
                <span class="d-flex text-center p-4">
                    <a class="bouton link-underline link-underline-opacity-0" href="/contact">Commander</a>
                </span>
            </div>
        </div>
        <div class="store-card-grec-meso-right">
            <div>
                <h3 style="margin-left: 3rem; margin-right: 5rem;"><b>GREC VS MESOPOTAMIEN</b></h3>
                <h4 class="py-2" style="margin-left: 3rem; margin-right: 3rem;"><i>« Tiamat, déesse suprême du chaos cherche coûte que coûte à s'emparer de l'Olympe. »</i></h4>
                <p style="margin-left: 3rem;">Découvrez dans cette boîte deux Panthéons uniques : Les sages et puissants dieux <b>Grecs</b>, maîtres de l'Olympe,
                    ainsi que les mystérieux et redoutables dieux <b>Mésopotamiens</b>,
                    <img class="img-fluid float-sm-end p-2" src="/ressources/brand/contenu-grecmeso.png" alt="" style="width: 350px;">
                    seigneurs des Royaumes d'Urûk.<br/> Ces Panthéons sont faits
                    pour s'affronter ensemble ou bien faire face à ceux des autres
                    boîtes du jeu. Vous y trouverez tout le nécessaire pour
                    apprendre à jouer à <b>PANTHÉONS - BATTLE OF GODS™</b>, ainsi que
                    des informations sur les Panthéons spécifiques de cette boîte.
                </p>
                <hr>
                <p class="game-list" style="margin-left: 3rem;">Cette boite de jeu comporte :</p>
            </div>
            <div class="row row-cols-3" style="margin-left: 5rem; margin-right: 5rem;">
                <div class="col">• 1 livret de règles</div>
                <div class="col">• 18 cartes Dieux</div>
                <div class="col">• 24 cartes Actions</div>
                <div class="col">• 6 cartes Domaines</div>
                <div class="col">• 66 Marqueurs</div>
                <div class="col">• 2 aides de jeu</div>
            </div>
        </div>
    </div>

    <div class="container store-card-grec-meso container-info">
        <div class="store-card-grec-meso-left">
            <img class="img-fluid" src="/ressources/brand/egysla3d.png" alt="Boite Slaves vs Egyptiens" style="transform: rotate(-5deg);">
            <div>
                <h4 class="text-center p-2">EGYPTIEN VS SLAVE</h4>
                <h1 class="text-center"><b>€27,00</b></h1>
                <span class="d-flex text-center p-4">
                    <a class="bouton link-underline link-underline-opacity-0" href="/contact">Commander</a>
                </span>
            </div>
        </div>
        <div class="store-card-grec-meso-right">
            <div>
                <h3 style="margin-left: 3rem; margin-right: 5rem;"><b>EGYPTIEN VS SLAVE</b></h3>
                <h4 class="py-2" style="margin-left: 3rem; margin-right: 3rem;"><i>« Vélès, dieu du monde d'en bas, tente de dérober aux Maîtres du Désert le Secret de l'Eternité. »</i></h4>
                <p style="margin-left: 3rem; margin-right: 3rem;">Découvrez dans cette boîte deux Panthéons uniques : Les
                    énigmatiques dieux <b>Slaves</b>, déités de la Nature, ainsi que
                    <img class="img-fluid float-sm-end p-2" src="/ressources/brand/contenu-egyslave.png" alt="" style="width: 350px;">
                    les implacables dieux <b>Égyptiens</b>, divinités funéraires et
                    protectrices des Pharaons.<br/>
                    Ces Panthéons sont faits pour
                    s'affronter ensemble ou bien faire face à ceux des autres
                    boîtes du jeu. Vous y trouverez tout le nécessaire pour
                    apprendre à jouer à <b>PANTHÉONS - BATTLE OF GODS™</b>, ainsi
                    qu'à utiliser les Panthéons spécifiques de cette boîte.
                </p>
                <hr>
                <p class="game-list" style="margin-left: 3rem;">Cette boite de jeu comporte :</p>
            </div>
            <div class="row row-cols-3" style="margin-left: 5rem; margin-right: 5rem;">
                <div class="col">• 1 livret de règles</div>
                <div class="col">• 21 cartes Dieux</div>
                <div class="col">• 24 cartes Actions</div>
                <div class="col">• 6 cartes Domaines</div>
                <div class="col">• 66 Marqueurs</div>
                <div class="col">• 2 aides de jeu</div>
            </div>
        </div>
    </div>


{% endblock %}
