{% extends 'layouts/base.html.twig' %}

{% block title %}Dernières mises à jour{% endblock %}

{% block body %}
    <div class="banniere">
        <div class="banniere-content" style="font-size: 80px;">
            MENTIONS LÉGALES
        </div>
    </div>
    
    <div class="container container-info">
        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en
        l'économie numérique, il est précisé aux utilisateurs du site Pantheons-Battle of Gods l'identité des
        différents intervenants dans le cadre de sa réalisation et de son suivi.<br/>
        <br/><h5>Edition du site :</h5><br/>
        <br/>Le présent site, accessible à l'URL pantheons-battleofgods.com (le « Site »), est édité par :
        Antoine Bardet, résidant 11 Rue Paul Philippe 50260 Bricquebec en Cotentin, de nationalité
        Française (France), né(e) le 29/08/1988, ainsi qu'au R.M. sous le numéro 924250376 RM
        50,<br/>
        Le numéro individuel TVA de l'éditeur est : FR 924250376.<br/>

        <br/><h5>Hébergement :</h5><br/>
        <br/>Le Site est hébergé par la société Squarespace, situé 225 Varick Street, 12th Floor, New
        York, NY 10014, (contact téléphonique ou email : +33805980338).<br/>
        <br/><h5>Directeur de publication :</h5><br/>
        Le Directeur de la publication du Site est Antoine Bardet.
        <br/><h5>Nous contacter :</h5><br/>
        Par email : pantheons-battleofgods@gmail.com
        Par courrier : 11 Ter Rue Paul Philippe 50260 Bricquebec en Cotentin, FRANCE</p>
    </div>


{% endblock %}