{% extends 'layouts/base.html.twig' %}

{% block title %}Tous les Pantheons{% endblock %}

{% block body %}

<div class="bandeau-img text-white mt-5 mb-5">
    <div class="bandeau-img-content container text-center p-4">
      <p1>PANTHEONS - BATTLE OF GODS est un jeu de cartes tactique et stratégique pour deux joueurs,
        <br/>dans lequel ceux-ci incarnent les dieux d'un Panthéon mythologique de leur choix.<br/>
        <br/>Tous les Panthéons du jeu sont conçus pour pouvoir s'affronter les uns avec les autres.</p1>
    </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-start align-items-center">
    <div class="col-3">
      <img class="w-100" src="/ressources/pantheons/pgrec.png">
    </div>
    <div class="col-8">
      <h3 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Panthéon Grec</h3>
      <p class="text-white text-justify" style="font-size: 20px;">Résidant dans le palais du Mont Olympe, ils sont les puissants gardiens du monde céleste. S'ils s'aventurent parfois sur les domaines terrestres des mortels c'est pour y exercer leur influence ou y mener une guerre sans merci.</p>
      <div class="d-grid d-md-flex justify-content-md-end">
        <span class="d-flex justify-content-evenly text-center p-2">
          <button class="bouton"><a class="link-light link-underline-opacity-0" href="/Pantheon-grec">Découvrir le Jeu</a></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-start align-items-center">
    <div class="col-3">
      <img class="w-100" src="/ressources/pantheons/pmeso.png">
    </div>
    <div class="col-8">
      <h3 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Panthéon Mésopotamien</h3>
      <p class="text-white text-justify" style="font-size: 20px;">Divinités cosmiques complexes, ils sont les souverains des cités disparues de Babylone et d'Assur. Les dieux mésopotamiens sont les adeptes d'une magie ancienne qui puise ses forces dans les sources tumultueuses du chaos primordial.</p>
      <div class="d-grid d-md-flex justify-content-md-end">
        <span class="d-flex justify-content-evenly text-center p-2">
          <button class="bouton"><a class="link-light link-underline-opacity-0" href="/Pantheon-meso">Découvrir le Jeu</a></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-start align-items-center">
    <div class="col-3">
      <img class="w-100" src="/ressources/pantheons/pegypt.png">
    </div>
    <div class="col-8">
      <h3 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Panthéon Egyptien</h3>
      <p class="text-white text-justify" style="font-size: 20px;">Dieux zoomorphes et maîtres du désert, ils sont les adeptes d'une magie occulte et puissante capable de préserver la Vie aussi bien que de la retirer.</p>
      <div class="d-grid d-md-flex justify-content-md-end">
        <span class="d-flex justify-content-evenly text-center p-2">
          <button class="bouton"><a class="link-light link-underline-opacity-0" href="/Pantheon-egypt">Découvrir le Jeu</a></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-start align-items-center">
    <div class="col-3">
      <img class="w-100" src="/ressources/pantheons/pslave.png">
    </div>
    <div class="col-8">
      <h3 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Panthéon Slave</h3>
      <p class="text-white text-justify" style="font-size: 20px;">Divinités de la Nature trouvant essence dans une magie primordiale, elles sont tout aussi mystérieuses et insaisissables que la morsure d'un vent froid et redoutable.</p>
      <div class="d-grid d-md-flex justify-content-md-end">
        <span class="d-flex justify-content-evenly text-center p-2">
          <button class="bouton"><a class="link-light link-underline-opacity-0" href="/Pantheon-slave">Découvrir le Jeu</a></button>
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
