{% extends 'layouts/base.html.twig' %}

{% block title %}Pantheon Mésopotamien{% endblock %}

{% block body %}
<div class="pantheon-meso">
    <div class="pantheon-meso-content">
      <img class="img-fluid" src="/ressources/pantheons/bandeau-meso.png" alt="Pantheon Mesopotamien" height="290px"/>
    </div>
</div>

<div class="container container-info">
    <img class="icon-meso" src="/ressources/icons/icon-meso.png" alt="icon mésopotamien">
    <p>La Mésopotamie est une région historique du  Moyen-Orient située entre les fleuves du Tigre et de l'Euphrate, qui correspond principalement à l'Irak et à la Syrie actuels. Au cours de l'histoire, elle regroupa plusieurs civilisations, qui tantôt coexistèrent ou se succédèrent tels que les Assyriens, Akkadiens, Babyloniens et Sumériens. Vers 3200 avant notre ère, elle donna naissance au premier système d'écriture cunéiforme, qui nous permet aujourd'hui d'en connaître de nombreux aspects. C'est le cas notamment, de sa vaste mythologie qui, évolua au fil du temps mais résista aux changements. Les nombreux dieux mésopotamiens étaient vénérés au sein d'immenses temples appelés ziggourats, qui occupaient un rôle centrale dans leur organisation sociale. Lieux de culte, mais aussi administratif et de stockage des richesses, ils étaient généralement placés sous l'égide d'une divinité spécifique, protectrice de la cité. Parmi les plus célèbre on trouve celui d'Ur, dédié au dieu-lune Sîn, ou encore celui d'Eanna consacré à la déesse Ishtar. Si les représentations des dieux Mésopotamiens changèrent, leurs essences elles, demeurèrent presque intactes. Initialement confondus avec les forces de la nature, ils adoptèrent plus tard des allures animales, et finalement, ils ne se différencièrent plus des hommes que par leur taille, leur force et leur immortalité.</p>
</div>

<div class="container text-center py-4">
    <img class="img-fluid" src="/ressources/icons/Séparateur blanc.png" alt="séparateur"/>
</div>

<div class="container container-info">
    <img class="icon-meso" src="/ressources/icons/icon-meso.png" alt="icon mésopotamien">
    <p>Dans PANTHEONS - BATTLE OF GODS, les divinités du Panthéon Mésopotamien sont les souverains des Royaumes d'Urûk, un vaste ensemble de territoires luxuriants constamment déchirés par la guerre et sujets à un effondrement progressif de leurs domaines, sombrant peu à peu, fragment après fragment, dans le Néant. Au milieu de ce chaos, Tiamat, déesse des eaux primordiales et reine des océans, cherche à venger la mort de son amour perdu : Apsû, tué autrefois par Enki, dieu de la sagesse et seigneur du Royaume d'Eridu. Pour cela, elle sait avoir à unifier tout le Panthéon et ainsi gagner une légitimité qu'on ne pourrait lui retirer.<br/>
        <br/>Elle parvient d'abord à convaincre Anu, Souverain du Ciel et Roi des dieux Mésopotamiens, que tous les maux qui frappent les leurs, ne sont que la cause des puissants et arrogants dieux Grecs. Ceux-ci, ne cessant d'étendre leur influence au sein des Royaumes Célestes, profitent incontestablement des dissensions du Panthéon Mésopotamien, et menacent désormais de les faire totalement disparaître. Pour persuader les dieux les plus réticents de bien vouloir écouter ses dires, Tiamat provoque secrètement Arès, le dieu Grec de la guerre, qui tombe dans le piège et, pris de colère, détruit la cité céleste d'Assur.<br/>
        <br/>Courroucés, les dieux Mésopotamiens acceptent finalement de rallier leurs forces sous une même bannière, celle de la Reine-Dragon, Tiamat, qu'Anu nomma Général des armées d'Urûk et commandante des Légions Immortelles pour mener l'invasion des Royaumes Elyséens ! Bientôt, Tiamat sera alors suffisamment puissante et légitime pour assouvir sa terrible soif de vengeance !
    </p>
</div>

<div class="container text-center py-4">
    <img class="img-fluid" src="/ressources/icons/Séparateur blanc.png" alt="séparateur"/>
</div>

<div class="container container-info">
    <img class="icon-meso" src="/ressources/icons/icon-meso.png" alt="icon mésopotamien">
    <p>Le Panthéon Mésopotamien possède des dieux aux caractéristiques équilibrées qui offrent un style de jeu plutôt agressif. Leurs Pouvoirs leur permettent généralement d'infliger de nombreux Dégâts, d'en augmenter la valeur, ou encore de réduire les Défenses adverses pour porter des coups encore plus dévastateurs. Sa prise en main facile, fait de lui un Panthéon recommandé pour se familiariser avec le jeu, bien qu'il soit également parfaitement capable de tenir tête à n'importe quel autre Panthéon.
    </p>
</div>

<!-- Ajouter le style de jeu sous forme de tableau -->

<div class="hero-scene-meso container-info">
    <div class="hero-scene-content-meso" style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;  height: 150px;">
      <h1>LES DIEUX DU PANTHEON MESOPOTAMIEN</h1>
    </div>
</div>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/mesopotamiens/Tiamat.png" alt="Tiamat">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Tiamat</h2>
    <h4><b>Déesse des Eaux Primordiales - Dieu Majeur</b></h4>
    <p>Reine des Océans à l'apparence d'un gigantesque Serpent-dragon, elle est le Général en chef des Légions Immortelles, les armées redoutables des Royaumes d'Urûk. Animée par un terrible désir de vengeance, elle a su rassembler tous les dieux Mésopotamiens sous sa bannière afin de porter un coup décisif à ses ennemis, dans l'espoir d'enfin pouvoir assouvir sa colère.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Maitresse du chaos</i> (3 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Placez un Marqueur <img src="/ressources/icons/+1 Dégat.png" class="degat-icon" alt="+1 dégat"> sur chacun de vos Dieux. Ceux-ci ajoutent 1 aux Dégâts qu'ils infligent jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-end" style="text-align: right;">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/mesopotamiens/Anu.png" alt="Anu">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Anu</h2>
    <h4><b>Dieu Souverain des Cieux - Dieu Majeur</b></h4>
    <p>Anu est le Seigneur des Royaumes d'Urûk, le Roi de tout le Panthéon Mésopotamien. Père d'Enki, il est aussi le garant de l'autorité et le juge de tous les criminels. Bien qu'il soit toujours hautement respecté par l'ensemble des dieux, les troubles qui frappent tout le Panthéon amoindrissent son pouvoir et ont plongé l'entièreté des Royaumes dans la tourmente.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Enveloppe Céleste</i> (2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Tous vos Dieux gagnent <img src="/ressources/icons/+1 Vitalité.png" class="vitalite-icon" alt="vitalité"> jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/mesopotamiens/Marduk.png" alt="Marduk">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Marduk</h2>
    <h4><b>Dieu Souverain de Babylone - Dieu Majeur</b></h4>
    <p>Seigneur et Protecteur du royaume de Babylone, Marduk est un guerrier implacable et un chasseur de démons. Fils du grand dieu Enki, il est un ennemi de Tiamat, qu'il a juré de combattre et dont il traque sans cesse les hordes monstrueuses, accompagné d'un immense et furieux Serpent-dragon.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Feu du Serpent-Dragon</i> (2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Ajoutez 1 à la Puissance <img src="/ressources/icons/Dégats Divins.png" class="divin-icon" alt="dégats divins"> de ce Dieu, jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-end" style="text-align: right;">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/mesopotamiens/Enki.png" alt="Enki">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Enki</h2>
    <h4><b>Dieu de la Sagesse - Dieu Mineur</b></h4>
    <p>Enki est le maître de l'Apsû, l'Abîme, le monde des eaux souterraines, là où s'étend le royaume d'Eridu. Il est un dieu sage et rusé, un mage extrêmement puissant, et un proche conseiller d'Anu, qu'il tenta d'informer des manigances de Tiamat, avant que n'éclate la guerre céleste.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Bénédiction de l'Apsû</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Le dieu allié de votre choix gagne +2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie"> jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/mesopotamiens/Gula.png" alt="Gula">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Gula</h2>
    <h4><b>Déesse de la Guérison - Dieu Mineur</b></h4>
    <p>Fille du Roi des Dieux, Anu, Gula règne sur le royaume d'Isin, l'un des rares territoires d'Urûk à être encore préservé de la guerre. Elle est la déesse de la Vie et de la Guérison. Si elle est de nature bienfaisante, elle sait aussi se montrer néfaste envers ses ennemis et les parjures, qu'elle accable de terribles maladies.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Dame de Vie</i> (0 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Déplacez n'importe quel nombre de Marqueur de Dégâts du Dieu allié de votre choix sur ce Dieu. </p>
</details>

<div class="container container-info text-center text-sm-end" style="text-align: right;">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/mesopotamiens/Ishtar.png" alt="Ishtar">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Ishtar</h2>
    <h4><b>Déesse de l'Amour et de la Guerre - Dieu Mineur</b></h4>
    <p>Sans doute l'une des déesses les plus puissantes du Panthéon Mésopotamien, Ishtar est une divinité aux multiples facettes. Elle est aussi bien une guerrière terrifiante qu'une déesse de l'Amour et de la sexualité. Régnant sur les multiples Domaines d'Akkad, de Ninive, de Lagash ou encore de Nippur, son expansionnisme menace constamment l'équilibre des Royaumes d'Urûk, et le trône de son Souverain Anu.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Divinité Astrale</i> (4 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Déplacez un Dieu adverse vers le Domaine de votre choix.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/mesopotamiens/Nergal.png" alt="Nergal">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Nergal</h2>
    <h4><b>Dieu de la Peste et des Enfers - Dieu Mineur</b></h4>
    <p>Dieu du Monde Souterrain, Nergal est le Maître des Enfers, sur lesquels il règne aux côtés de sa femme Ereshkigal. Il est un dieu guerrier et destructeur, propagateur de maladies. Nergal fut aussi le premier à rejoindre les forces de Tiamat, au sein desquelles il mène de puissantes légions de créatures infernales.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Pestilence</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Le Dieu adverse de votre choix à -2 <img src="/ressources/icons/Défenses.png" class="defense-icon" style="width: 50px; !important" alt="défenses"> jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-end" style="text-align: right;">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/mesopotamiens/Shamash.png" alt="Shamash">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Shamash</h2>
    <h4><b>Dieu-Soleil de la Justice - Dieu Mineur</b></h4>
    <p>Garant de la Justice et de la Lumière, Shamash est le fils de Sîn et le frère d'Ishtar. Il est un dieu voyageur qui sert aussi bien le Roi des Dieux, Anu, que le seigneur du Monde Souterrain, Nergal. Puissant mage, ses conseils avisés et son jugement sont toujours respectés.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Jugement Solaire</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Inflige 1 Dégât <img src="/ressources/icons/Dégats Divins.png" class="divin-icon" alt="dégats divins"> au Dieu adverse de votre choix, et 1 Dégât supplémentaire si celui-ci possède un Marqueur <img src="/ressources/icons/Défenses Brisées.png" class="broken-defense-icon" alt="défenses brisées">.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/mesopotamiens/Sin.png" alt="Sin">
    <h2 style="font-family: 'Meso'; text-shadow: #ffffff 1px 0 10px;">Sin</h2>
    <h4><b>Dieu-Lune de la Fertilité - Dieu Mineur</b></h4>
    <p>Seigneur du luxuriant royaume d'Ur, Sîn est une divinité puissante associée à la Lune. Il est pour beaucoup la lumière dans les ténèbres, le garant de l'ordre cosmique et de la raison face au chaos. Sîn est donc un dieu gardien et protecteur, qui guide aussi bien les mortels que les autres dieux, lorsque le monde s'obscurci.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Gardien Lunaire</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">).<br/> Retirez 1 Marqueur de Dégâts de tous vos Dieux.</p>
</details>

<div class="container text-center py-4">
    <img class="img-fluid" src="/ressources/icons/Séparateur blanc.png" alt="séparateur"/>
</div>

<div class="row" style="text-align-last: center;">
    <div class="col-12 py-5 text-center">
        <img src="/ressources/brand/Boite grec-meso.jpg" height="500" style="box-shadow: #ffffff 1px 0 20px;" alt="Boite grec vs mésopoamien"><br/>
    </div>
    <div class="col-12">
        <span class="d-flex justify-content-evenly text-center p-2">
          <a class="bouton link-underline link-underline-opacity-0" href="/boutique">Commander maintenant</a>
        </span>
    </div>
</div>

{% endblock %}
