{% extends 'layouts/base.html.twig' %}

{% block title %}Pantheon Egyptien{% endblock %}

{% block body %}
<div class="pantheon-egypt">
    <div class="pantheon-egypt-content">
      <img src="/ressources/pantheons/bandeau-egypt.png" alt="Pantheon Egyptien" height="200"/>
    </div>
</div>

<div class="container container-info">
    <img class="icon-egypt" src="/ressources/icons/icon-egypt.png" style="float: inherit">
    <h3 class="text-secondary">EN COURS DE DEVELOPPEMENT...</h4>
    <p>TEXTE A VENIR...</p>
</div>

<div class="container text-center p-4">
    <img src="/ressources/icons/Séparateur blanc.png"/>
</div>

<div class="container container-info">
    <img class="icon-egypt" src="/ressources/icons/icon-egypt.png">
    <p>Puissants maîtres des Royaumes du Désert, les dieux du Panthéon Egyptien sont les gardiens d'une myriade de secrets et de savoirs immémoriaux, qu'ils conservent précieusement cachés, loin, au sein de leurs domaines célestes. Ces connaissances, fruits d'un travail incommensurable, leur offrent une sagesse sans pareille et un pouvoir presque illimité. Toutefois, cela n'est pas sans attiser les convoitises de certains. Il arrive même parfois que des divinités issues d'autres panthéons cherchent à s'emparer de celles-ci.<br/>
        <br/>Il y a peu, Vélès, le nocturne Dieu Slave, est parvenu à pénétrer la Bibliothèque Impossible de Thot, s'évertuant désespérément à y découvrir le Secret de l'Eternité. Mais son acte imprudent a non seulement attiré sur lui et ses pairs, la colère des dieux Egyptiens, mais également libéré une malédiction terrible qu'il aurait mieux valu ne jamais réveiller !<br/>
        <br/>Alors que peu à peu, se répand partout sur les Domaines Célestes le Fléau des Sables, Osiris, Isis et Thot cherchent le moyen de contenir le mal. Mais Râ, le colérique Seth et de nombreux autres, sont bien déterminés à faire payer aux dieux Slaves, leur affront. Même au prix d'une guerre ouverte entre leurs Panthéons...<br/>
    </p>
</div>

<div class="container text-center p-4">
    <img src="/ressources/icons/Séparateur blanc.png"/>
</div>

<div class="container container-info">
    <img class="icon-egypt" src="/ressources/icons/icon-egypt.png">
    <p>Les Dieux du Panthéon Egyptien sont parmi les plus résilients du jeu. Si leurs Défenses sont à première vue plutôt faibles, ils compensent largement cela par une Vitalité élevée, ainsi que des mécanismes leur permettant de se régénérer, voire même de revenir en jeu après avoir été détruits ! La forte valeur d'Energie dont ils disposent leur offre également une grande manœuvrabilité et leur permet de s'adapter aisément à tous les styles de jeu. Leur capacité unique Fléau des Sables est en outre un moyen redoutable de venir à bout de n'importe quel type d'adversaire.<br/> 
        <br/>FLEAU DES SABLES : Il s'agit de Dégâts irréversibles qui affectent la Vitalité même des Dieux. Lorsqu'on entreprend une Action ou un Pouvoir faisant appel au symbole <img src=""> alors il est sujet au Fléau des Sables. Ces Dégâts ont pour particularité de ne jamais pouvoir être retirés.        
    </p>
</div>

<div class="hero-scene-egypt container-info">
    <div class="hero-scene-content-egypt text-center" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">
      <h1>LES DIEUX DU PANTHEON EGYPTIEN</h1>
    </div>
</div>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/egyptiens/Amon.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Amon</h2>
    <h4><b>Roi des Dieux - Dieu Majeur</b></h4>
    <p>Dieu suprême du panthéon Egyptien, il est le Créateur de la Vie et le père de tous les autres dieux. Apparaissant sous bien des formes,  comme celle d'un bélier ou bien d'un homme doré, personne ne connaît réellement sa véritable apparence.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>L'Inconnaissable (Passif)</i> Tant que ce Dieu est présent, la première fois qu'un de vos Dieux Mineurs est détruit, il revient en jeu à la Phase de Restauration suivante sur le même Domaine, avec une Vitalité de 1.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/egyptiens/Osiris.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Osiris</h2>
    <h4><b>Dieu de l'Au-delà - Dieu Majeur</b></h4>
    <p>Souverain du Domaine des Morts, il juge l'âme des défunts de leurs actions et pèse leur cœur afin de d'estimer leur droit à la vie éternelle. Dieu funéraire par excellence, il est aussi le garant de l'ordre cosmique, le Mâat.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Juge des Morts (Passif)</i> Tant que ce Dieu est présent, à chaque Phase de Restauration retirez 1 Marqueur de Dégâts de tous vos Dieux en jeu.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/egyptiens/Ra.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Râ</h2>
    <h4><b>Dieu créateur de l'Univers - Dieu Majeur</b></h4>
    <p>Dieu solaire au visage de faucon il règne sur le ciel et incarne la puissance divine du panthéon Egyptien. Il est celui qui mène les armées des dieux dans le combat contre les forces des ténèbres ou contre quiconque pénètre les Royaumes du Désert.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Fléau des Sables (Passif)</i> Tant que ce Dieu est en jeu, tous vos Dieux infligent des Dégâts <img src="/ressources/icons/Fléau des Sables.png" class="fleau-icon">.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/egyptiens/Anubis.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Anubis</h2>
    <h4><b>Dieu des Morts - Dieu Mineur</b></h4>
    <p>Dieu au visage de chacal, fils d'Isis et d'Osiris, il est le Gardien du Domaines des Morts. Il est celui qui conduit les défunts à la pesée des âmes et assure aux plus dignes d'entre elles, une place en ce royaume.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Gardien des Morts (Passif)</i> Lors de la Phase de Restauration, retirez tous les Marqueurs de Dégâts de ce Dieu.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/egyptiens/Horus.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Horus</h2>
    <h4><b>Dieu du ciel - Dieu Mineur</b></h4>
    <p>Dieu céleste de dynastie royale il est voué à succéder à son père Osiris. Horus est un dieu protecteur à tête de faucon, à la fois diurne et nocturne, parcourant le ciel, il veille sur les Mortels et les guide dans leurs épreuves.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Oudjat (5 <img src="/ressources/icons/Energie.png" class="energy-icon">)</i> Placez 2 Marqueurs <img src="/ressources/icons/Fléau des Sables.png" class="fleau-icon"> sur ce Dieu, puis retirez tous les Marqueurs de Dégâts d'un de vos Dieux.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/egyptiens/Isis.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Isis</h2>
    <h4><b>Déesse de la Protection - Dieu Mineur</b></h4>
    <p>Déesse protectrice, elle est l'épouse d'Osiris, auprès duquel elle trône. Elle est une grande magicienne douée de puissants pouvoirs de guérison. Mère d'Horus, c'est aussi pour les mortels l'incarnation de la Maternité.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Main Protectrice (Passif)</i> Lorsque ce Dieu subit des Dégâts, il ignore tous Modificateurs de Dégâts liés au Domaine sur lequel il se trouve.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/egyptiens/Sekhmet.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Sekhmet</h2>
    <h4><b>Déesse de la Guerre - Dieu Mineur</b></h4>
    <p>Divinité guerrière et fille de Râ, elle est l'instrument de la colère de celui-ci. Elle est habitée par une féroce soif de sang qu'elle n'a de cesse d'épancher dans le combat. A la tête des armées de son père, elle délivre la ruine et la destruction sur les ennemis de son peuple.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Colère de Rê (2 <img src="/ressources/icons/Energie.png" class="energy-icon">)</i> Tous les Dieux en jeu voient leurs <img src="/ressources/icons/Défenses.png" height="40" width="50"> instantanément Brisées.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/egyptiens/Seth.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Seth</h2>
    <h4><b>Dieu du Chaos - Dieu Mineur</b></h4>
    <p>Rival éternel d'Horus, il est un dieu du tumulte et de la discorde, qui participe néanmoins à l'équilibre cosmique. Il est agressif et brutal, jaloux et ambitieux. Il combat aux côtés de Râ, mais complote également pour prendre la place d'Osiris sur le trône du Royaume des Morts.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Frappe entropique (4 <img src="/ressources/icons/Energie.png" class="energy-icon">)</i> Inflige 2 Dégâts <img src="/ressources/icons/Fléau des Sables.png" class="fleau-icon"> au Dieu adverse de votre choix en ignorant ses <img src="/ressources/icons/Défenses.png" class="defense-icon" style="width: 50px; !important">.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/egyptiens/Thot.png">
    <h2 style="font-family: 'Egyptian'; text-shadow: #ffffff 1px 0 10px;">Thot</h2>
    <h4><b>Dieu de la Sagesse - Dieu Mineur</b></h4>
    <p>Il est le gardien du savoir illimité du panthéon Egyptien, sur lesquel il veille assidument. Il est un noble conseiller d'Osiris, qu'il assiste durant le rituel de la Pesée des âmes. Son paroles sont toujours sages et avisées et son nom unanimement respecté.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Egyptian'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Seigneur du Temps (2 <img src="/ressources/icons/Energie.png" class="energy-icon">)</i> Confère +2 aux <img src="/ressources/icons/Défenses.png" class="defense-icon" style="width: 50px; !important"> du Dieu de votre choix, jusqu'à la fin du Tour.</p>
</details>

<div class="container text-center p-4">
    <img src="/ressources/icons/Séparateur blanc.png"/>
</div>

<div class="row" style="text-align-last: center;">
    <div class="col-12 pb-4 text-center">
        <img src="/ressources/brand/Boite egy-sla.jpg" height="500" style="box-shadow: #ffffff 1px 0 20px;"><br/>
    </div>
    <div class="col-12">
        <span class="d-flex justify-content-evenly text-center p-2">
          <button class="bouton"><a class="link-light link-underline-opacity-0" href="/boutique">Découvrir le Jeu</a></button>
        </span>
    </div>
</div>

{% endblock %}
