{% extends 'layouts/base.html.twig' %}

{% block title %}Pantheon Slave{% endblock %}

{% block body %}
<div class="pantheon-slave">
    <div class="pantheon-slave-content">
      <img src="/ressources/pantheons/bandeau-slave.png" alt="Pantheon Grec" height="290px"/>
    </div>
</div>

<div class="container container-info">
    <img class="icon-slave" src="/ressources/icons/icon-slave.png" style="float: inherit">
    <h3 class="text-secondary">EN COURS DE DEVELOPPEMENT...</h4>
    <p>TEXTE A VENIR...</p>
</div>

<div class="container text-center p-4">
    <img src="/ressources/icons/Séparateur blanc.png"/>
</div>

<div class="container container-info">
    <img class="icon-slave" src="/ressources/icons/icon-slave.png">
    <p>Dans PANTHEONS - BATTLE OF GODS™, Le Royaume de Rod, dont le nom lui-même vient du Souverain des Dieux, père de tous et créateur de l'Univers, est le territoire reculé du Panthéon Slave. Un paysage aux montagnes majestueuses, aux forêts sombres et profondes, et aux vallées sauvages. C'est un endroit rude et impitoyable dans lequel les forces de la nature occupent un rôle prépondérant. L'harmonie y est régit par le Triglav, les trois faces d'une même entité créée par Rod, chacune régnant sur un royaume distinct. Perun, dieux du ciel et de l'orage veille sur le Yav, qui regroupe aussi bien les domaines terrestres que célestes. Vélès est le seigneur du monde souterrain : le Nav. Le monde des Morts et de l'obscurité. Svarog quant à lui, est le gardien du Prav. Le garant de l'équilibre cosmique.<br/>
        <br/>Toutefois, aussi puissants que soient ses dieux, le Panthéon Slave est sujet à terrible mal. Les pierres de ses royaumes s'effritent et se fendent, ses fleurs se fanent, et des fragments entiers de ses domaines se décrochent et sombrent dans l'oubli. Tous les jours, des dieux voient leur essence diminuer, être un peu plus avalés par le vide, pour finir par disparaître totalement de l'esprit des mortels, et des Royaumes Célestes. Leurs noms, oubliés à jamais.<br/>
        <br/>Face à cela, les armées des dieux  s'organisent et font face aux hordes de créatures du Néant qui assaillent et consument peu à peu le Royaume de Rod. Au cœur de la tourmente, Vélès entrevoit l'existence d'un remède : Le Secret de l'Eternité. Un savoir occulte maintenu conservé par les puissants Maîtres du Désert. Une sagesse ancienne qui lui permettrait de sauver les siens, mais qui risque également de condamner l'intégralité des Royaumes Célestes…
    </p>
</div>

<div class="container text-center p-4">
    <img src="/ressources/icons/Séparateur blanc.png"/>
</div>

<div class="container container-info">
    <img class="icon-slave" src="/ressources/icons/icon-slave.png">
    <p>Les Dieux qui composent le Panthéon Slave possèdent tous de hautes valeurs d'Energie et de Défenses, toutefois souvent au détriment de leur Vitalité. Le Panthéon Slave possède également une mécanique de jeu unique appelée Triglav,  qui permet à ses Dieux de commencer la partie dissimulés et donc inconnus de l'adversaire. Cela leur offre l'avantage de la surprise et ainsi la capacité de porter des coups des dévastateurs grâce à leurs aptitudes jusque-là restées secrètes. En plus du Triglav, certains Dieux disposent de Pouvoirs aux effets passifs uniques ou parfois même capables d'empêcher un Dieu adverse de jouer !<br/>
        <br/>TRIGLAV : Tous les Dieux du Panthéon Slave commencent la partie dissimulés. On place sur eux une carte Triglav, qui s'utilise de la même manière qu'une carte Dieux ordinaire. Le joueur qui les contrôle peut, lors de son Activation, choisir de révéler ou non l'identité réelle de l'un de ses Dieux ou bien de jouer avec le profil du Triglav. Si un Dieu subit des Dégâts il est alors révélé à la fin de l'Activation en cours.
    </p>
</div>

<!-- Ajouter le tableau ici -->

<div class="hero-scene-slave container-info">
    <div class="hero-scene-content-slave text-center" style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">
      <h1>LES DIEUX DU PANTHEON SLAVE</h1>
    </div>
</div>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/slaves/Perun.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Perun</h2>
    <h4><b>Dieu de l'Orage - Dieu Majeur</b></h4>
    <p>Seigneur du ciel et du tonnerre, il est l'une des trois faces du Triglav, celui qui règne sur les domaines céleste mais également des mortels. S'il est un dieu de la lumière, Perun est aussi un dieu colérique, guerrier et téméraire, qui passe le plus clair de son temps à traquer et combattre les créatures du Monde d'en bas.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Bouclier Tonnerre (Passif).</i> Les <img src="/ressources/icons/Défenses Brisées.png" class="broken-defense-icon"> de ce Dieu ne peuvent jamais être Brisées.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/slaves/Svarog.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Svarog</h2>
    <h4><b>Dieu du Feu - Dieu Majeur</b></h4>
    <i>Svarog est le souverain du Prav, le gardien et protecteur de l'Harmonie cosmique. C'est un dieu du feu, créateur et sage, qui veille à préserver l'équilibre du monde. Sa demeure est Svarga, la puissante forteresse du Panthéon Slave, depuis laquelle il régit les affaires du <i>Royaume de Rod.</i>  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Serpent de Feu</i> (5 <img src="/ressources/icons/Energie.png" class="energy-icon">). Inflige 2 Dégâts <img src="/ressources/icons/Dégats Divins.png" class="divin-icon"> au Dieu adverse de votre choix.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/slaves/Vélès.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Vélès</h2>
    <h4><b>Dieu de la Lune - Dieu Majeur</b></h4>
    <p>Vélès est le seigneur du Nav, le monde souterrain des Morts et de l'Obscurité. C'est un dieu polymorphe qui revêt parfois l'apparence d'un bouc, d'un ours, d'un loup ou même d'un dragon. Dieu-sorcier, il réside au cœur d'un marais profond et guide les morts à travers l'au-delà.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Lune Mortuaire</i> (5 <img src="/ressources/icons/Energie.png" class="energy-icon">). Placez un Marqueur <img src="/ressources/icons/Malediction.png" class="malediction-icon"> sur chacun des Dieux adverses.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/slaves/Dajbog.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Dajbog</h2>
    <h4><b>Dieu du Soleil - Dieu Mineur</b></h4>
    <p>Fils de Svarog, Dajbog est celui qui apporte la force, la sagesse et la fortune. Il est un héraut de la lumière qui commande aux armées de son père, et combat les hordes malfaisantes du Dieu Noir : Tchernobog.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Fils du Soleil (Passif).</i> Ce Dieu ajoute 1 aux Dégâts qu'il inflige lorsqu'il cible un Dieu adverse situé dans le Domaine Céleste.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/slaves/Morana.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Morana</h2>
    <h4><b>Déesse de la Mort - Dieu Mineur</b></h4>
    <p>Déesse de l'hiver, de la sorcellerie et de la mort, Morana est une divinité du royaume des ombres, et une puissante alliée de Vélès, aux côtés duquel elle œuvre secrètement. Discrète et redoutable, son baiser est froid comme la morsure d'un hiver cruel.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Mortel baiser de l'Hiver</i> (4 <img src="/ressources/icons/Energie.png" class="energy-icon">). Placez un Marqueur <img src="/ressources/icons/Morana.png" class="morana-icon"> sur le Dieu Mineur adverse de votre choix. Celui-ci ne peut effectuer aucune Action durant sa prochaine Activation, mais ne peut être pris pour cible d'aucune manière.</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/slaves/Siwa.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Siwa</h2>
    <h4><b>Déesse de la Vie - Dieu Mineur</b></h4>
    <p>Siwa est une déesse de la lumière. Elle réside à Svarga aux côtés de la plus part des autres dieux du Panthéon. Antagoniste naturelle de la déesse Morana, elle amène partout la vie, l'amour et la fertilité. C'est elle qui, au printemps, couvre le monde de verdure et apporte la floraison.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Ecrin Céleste (Passif).</i> Tant que ce Dieu se trouve dans le Domaine Céleste, les Dieux adverses ne peuvent lui infliger aucun Dégât.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/slaves/Stribog.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Stribog</h2>
    <h4><b>Dieu du Vent - Dieu Mineur</b></h4>
    <p>Stribog est une divinité de la nature, insaisissable et changeante. Dieu du Vent, il est sage et respecté de tous. Menant une existence d'ermite loin de Svarga, les autres dieux du Panthéon recherchent bien souvent son conseil. Et si ses paroles sont parfois âpres et cinglantes, elles n'en sont pas moins avisées et toujours bienfaisantes.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Seigneur du Vent (Passif).</i> Le coût des Actions <img src="/ressources/icons/Action Mouvement.png" class="mvt-icon"> effectuées par ce Dieu est diminué de 1 (Minimum 1).</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/slaves/Svantovit.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Svantovit</h2>
    <h4><b>Dieu de la Guerre - Dieu Mineur</b></h4>
    <p>Dieu guerrier par excellence, il est le défenseur du Royaume de Rod et le seigneur d'Arkona, sa forteresse céleste. Doué de capacités de divination, il est un dieu aux multiples facettes qui apparait généralement sous les traits d'un puissant guerrier monté sur un cheval blanc, victorieux.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Victoire Solaire</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon">). Infligez 1 Dégât à un Dieu adverse doté d'un Marqueur <img src="/ressources/icons/Défenses Brisées.png" class="broken-defense-icon"> , puis retirez 1 Marqueur de Dégâts du Dieu allié de votre choix.</p>
</details>

<div class="container container-info">
    <img class="float-sm-start god-icon" src="/ressources/dieux/slaves/Tchernobog.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Tchernobog</h2>
    <h4><b>Dieu de l'Obscurité - Dieu Mineur</b></h4>
    <p>Il est le Dieu Noir, celui qui partout apporte l'obscurité. Il est malfaisant et son regard, des plus pénétrant, révèle dans le cœur des hommes le mal qui réside en eux. Tchernobog est, par la force des choses, un allié de Vélès, qui couvre son royaume d'ombre et lui permet ainsi de demeurer caché.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Regard du Dieu Noir</i> (3 <img src="/ressources/icons/Energie.png" class="energy-icon">). Placez un Marqueur <img src="/ressources/icons/Tchernobog.png" class="tchernobog-icon"> sur un Dieu adverse. Celui-ci subit instantanément 1 Dégât <img src="/ressources/icons/Dégats Divins.png" class="divin-icon">, ainsi que 1 Dégât <img src="/ressources/icons/Dégats Divins.png" class="divin-icon"> à chacune des Phases de Restauration suivantes. (Cet effet est permanent)</p>
</details>

<div class="container container-info" style="text-align: right;">
    <img class="float-sm-end god-icon" src="/ressources/dieux/slaves/Triglav.png">
    <h2 style="font-family: 'Slave'; text-shadow: #ffffff 1px 0 10px;">Triglav</h2>
    <h4><b>Dieu aux trois visages</b></h4>
    <p>Triglav est davantage un concept qu'une entité à part entière. Il est la représentation fluctuante des trois forces de l'univers, créées par Rod : Le Yav, le Prav et le Nav. Ses trois visages sont ceux de Perun, Svarog et Vélès, qui participent à maintenir l'équilibre cosmique.  
    </p><br/>
</div>

<details class="container">
    <summary>
        <h3 class="text-primary" style="font-family: 'Slave'; text-shadow: #ffffff 5px 0 15px;">DÉCOUVRIR SON POUVOIR :</h3>
    </summary>
    <p><b>Pouvoir :</b> <i>Celui à trois faces</i> (4 <img src="/ressources/icons/Energie.png" class="energy-icon">). Déplacez un Dieu adverse vers un Domaine adjacent puis placez un Marqueur <img src="/ressources/icons/Entrave.png" class="entrave-icon"> sur celui-ci.</p>
</details>

<div class="container text-center p-4">
    <img src="/ressources/icons/Séparateur blanc.png"/>
</div>

<div class="row" style="text-align-last: center;">
    <div class="col-12 p-4 text-center">
        <img src="/ressources/brand/Boite egy-sla.jpg" height="500" style="box-shadow: #ffffff 1px 0 20px;"><br/>
    </div>
    <div class="col-12">
        <span class="d-flex justify-content-evenly text-center p-2">
          <button class="bouton"><a class="link-light link-underline-opacity-0" href="/boutique">Découvrir le Jeu</a></button>
        </span>
    </div>
</div>

{% endblock %}
