{% extends 'layouts/base.html.twig' %}

{% block title %}Panthéon Grec{% endblock %}

{% block body %}
<div class="pantheon-grec">
    <div class="pantheon-grec-content">
      <img class="img-fluid" src="/ressources/pantheons/bandeau-grec.png" alt="Pantheon Grec" height="290px"/>
    </div>
</div>

<div class="container container-info">
    <img class="icon-grec" src="/ressources/icons/icon-grec.png" style="float: inherit" alt="icon grec">
    <h4 class="text-secondary">EN COURS DE DEVELOPPEMENT...</h4>
    <p>TEXTE A VENIR...</p>
</div>

<div class="container text-center py-4">
    <img class="img-fluid" src="/ressources/icons/Séparateur blanc.png" alt="séparateur"/>
</div>

<div class="container container-info">
    <img class="icon-grec" src="/ressources/icons/icon-grec.png" alt="icon grec">
    <p>Au sein des Royaumes Célestes, les dieux Grecs règnent sur les Champs Elyséens. Un domaine vaste et resplendissant recouvert d'océans, de forêts, de champs de blés et de puissantes montagnes. La plus haute et la plus majestueuse d'entre elles est l'Olympe. Un sommet depuis lequel Zeus, le Roi des dieux, gouverne assisté par les Olympiens, les dieux les plus nobles et dignes de confiance de tout le panthéon. De ces hauteurs inaccessibles, ils gèrent les affaires du Royaume, veillent sur les Mondes Mortels, et préservent l'Harmonie cosmique.<br/>
        <br/>Mais récemment, l'équilibre a une fois de plus été rompu.<br/>
        <br/>En effet, Tiamat, souveraine des Royaumes Mésopotamiens d'Uruk est parvenue à libérer des enfers du Tartare, les Titans. Ennemis jurés de Zeus, bien décidés à prendre leur revanche. Semant partout discorde et destruction au sein des Champs Elyséens, Tiamat mena ensuite une incroyable incursion à la tête ses phalanges d'Immortels.<br/>
        <br/>Zeus rassembla alors les siens. La réponse des Olympiens n'allait pas tarder à se faire entendre.<br/>
        <br/>Arès, Poséidon et Athéna guidant les immenses Légions Elyséennes, se lancèrent alors bientôt dans la bataille, déterminés à protéger coûte que coûte leur Royaume, le temps que l'Harmonie cosmique soit enfin rétablie. Une solution se doit maintenant d'être trouvée.<br/>
        <br/>La guerre céleste a éclaté, et plonge à nouveau les royaumes des dieux dans le plus grand chaos...
    </p>
</div>

<div class="container text-center py-4">
    <img class="img-fluid" src="/ressources/icons/Séparateur blanc.png" alt="séparateur"/>
</div>

<div class="container container-info">
    <img class="icon-grec" src="/ressources/icons/icon-grec.png" alt="icon grec">
    <p>Le Panthéon Grec est l'un des plus polyvalents et équilibrés. Il est idéal pour se familiariser avec les mécaniques du jeu puisqu'il propose approche à la fois simple mais qui offre une grande variété de possibilités.<br/>
        <br/>Tous ses Dieux disposent de solides valeurs de Défenses  et de Vitalité.<br/>
        <br/>Si leur valeur d'Energie se trouve en revanche plus basse que dans certains autres Panthéons, elle est toutefois compensée par des Pouvoirs de Dieux dévastateurs et capables de modifier les caractéristiques des Dieux, alliés comme adverses. Bien que ce Panthéon puisse être recommandé à des joueurs novices, il est également parfaitement en mesure de rivaliser avec n'importe quel autre Panthéon du jeu.
    </p>
</div>

<div class="hero-scene-grec container-info">
    <div class="hero-scene-content-grec" style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px; height: 150px;">
      <h1>LES DIEUX DU PANTHEON GREC</h1>
    </div>
</div>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/grecs/Zeus.png" alt="Zeus">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Zeus</h2>
    <h4><b>Dieu du Ciel et de la Foudre - Dieu Majeur</b></h4>
    <p>Dieu souverain du panthéon Grec, il règne depuis le Palais de l'Olympe sur tous les <i>Champs Elyséens</i>. Garant de l'ordre cosmique, il est tout autant diplomate que colérique et sait parfaitement quand il est nécessaire de prendre les armes, afin de combattre les forces de la discorde.</p>
</div>


<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Lance de Foudre</i> (3 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/>Tous les Dieux adverses subissent instantanément 1 Dégât <img src="/ressources/icons/Dégats Divins.png" class="divin-icon" alt="dégats divins">.</p>
</details>

<div class="container container-info text-center text-sm-end">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/grecs/Poséidon.png" alt="Poséidon">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Poséidon</h2>
    <h4><b>Roi de la Mer et des Océans - Dieu Majeur</b></h4>
    <p>Poséidon est le seigneur des Contrées Océaniques, au fond desquelles se tient son majestueux Palais. Il est un dieu distant et taciturne. Et bien que les relations qu'il entretient avec Zeus soient parfois tumultueuses, il  est fidèle au trône de l'Olympe, et dirige les redoutables légions de cavaliers <i>Hippios</i>.</p>
    <br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Seigneur des Tempêtes</i> (2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/>Tous les Dieux adverses ont -1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie"> jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/grecs/Hadès.png"  alt="Hadès">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Hadès</h2>
    <h4><b>Roi des Enfers - Dieu Majeur</b></h4>
    <p>Frère de Zeus et Poséidon, il est le maître du Monde Souterrain, le seigneur des morts. Il est aussi le Gardien du Tartare, le plus profond niveau des Enfers, là où sont enfermés les êtres les plus abjectes qui soit et ennemis de l'Olympe : Les Titans.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Maître des Enfers</i> (2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/> Tous les Dieux adverses ont -1 <img src="/ressources/icons/Défenses.png" class="defense-icon" style="width: 50px; !important" alt="défenses"> jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-end">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/grecs/Aphrodite.png" alt="Aphrodite">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Aphrodite</h2>
    <h4><b>Déesse de l'Amour - Dieu Mineur</b></h4>
    <p>Déesse de l'aube, elle est l'inspiratrice des désirs les plus nobles comme les plus fougueux. Elle est l'incarnation de la beauté et de la fécondité, mais est aussi une déesse vengeresse, qui sait faire entendre son courroux à ceux qui la provoquent.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Faveur de l'Aube</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/> Retirez 2 Marqueurs de Dégâts du Dieu allié de votre choix.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/grecs/Apollon.png" alt="Apollon">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Apollon</h2>
    <h4><b>Dieu de la lumière - Dieu Mineur</b></h4>
    <p>Fils de Zeus, il est le représentant suprême de l'Harmonie Céleste, de l'équilibre parfait. Irradiant d'une lueur divine qu'il porte sur le monde au son de ses instruments, l'arc et la lyre, il inspire aussi bien l'artiste que le guerrier de l'ordre et de la lumière.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Divine Pureté</i> (5 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/> Placez un Marqueur <img src="/ressources/icons/Défenses Brisées.png" class="broken-defense-icon" alt="défenses"> sur ce Dieu, puis infligez 3 Dégâts <img src="/ressources/icons/Dégats Divins.png" class="divin-icon" alt="dégats divins"> au Dieu adverse de votre choix.</p>
</details>

<div class="container container-info text-center text-sm-end">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/grecs/Arès.png" alt="Arès">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Arès</h2>
    <h4><b>Dieu de la guerre - Dieu Mineur</b></h4>
    <p>Arès est probablement le dieu le plus violent de tout le panthéon Grec. Il trouve son essence dans la guerre et le carnage. C'est un être extrêmement belliqueux, qui conduit toujours ses féroces Cohortes Hoplitiques au cœur des combats les plus intenses.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Fureur Guerrière</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/>La prochaine carte Action jouée par ce Dieu durant ce Tour affecte un Dieu adverse supplémentaire.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/grecs/Athéna.png" alt="Athéna">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Athéna</h2>
    <h4><b>Déesse de la Stratégie - Dieu Mineur</b></h4>
    <p>Fille préférée de Zeus, elle est aussi la sœur et la rivale d'Arès. Guerrière redoutable, elle n'en est pas moins un stratège hors-pair. De nature calme et réfléchie, elle dirige des phalanges entières de guerriers Elyséens à la victoire.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Ruée Tactique</i> (2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/> Déplacez ce Dieu vers le Domaine de votre choix. Celui-ci gagne +1 <img src="/ressources/icons/Défenses.png" class="defense-icon" style="width: 50px; !important" alt="défenses"> jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-end">
    <img class="god-icon img-fluid float-sm-end mb-3" src="/ressources/dieux/grecs/Héphaïstos.png" alt="Héphaïstos">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Héphaïstos</h2>
    <h4><b>Dieu de la Forge et des Volcans - Dieu Mineur</b></h4>
    <p>Artisan et forgeron des dieux, Héphaïstos est le fils de Zeus et d'Héra. Il fut jeté du haut de l'Olympe alors qu'il n'était encore qu'un enfant. Depuis, boiteux, il réside sous la montagne,  au cœur d'un volcan, d'où il confectionne les plus belles armes et les plus beaux objets des dieux.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Artisan des Flammes</i> (1 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/> Placez un Marqueur <img src="/ressources/icons/+1 Dégat.png" class="degat-icon" alt="+1 dégats"> sur le Dieu allié de votre choix. Celui-ci ajoute 1 aux Dégâts qu'il inflige jusqu'à la fin du Tour.</p>
</details>

<div class="container container-info text-center text-sm-start">
    <img class="god-icon img-fluid float-sm-start mb-3" src="/ressources/dieux/grecs/Héra.png" alt="Héra">
    <h2 style="font-family: 'Dalek'; text-shadow: #ffffff 1px 0 10px;">Héra</h2>
    <h4><b>Reine des Dieux - Dieu Mineur</b></h4>
    <p>Impératrice des Royaumes Elyséens, elle est aussi l'épouse de Zeus. C'est elle, qui en grande partie administre les affaires du royaume et œuvre à sa prospérité. C'est une déesse gardienne, sage et protectrice, qui sait prendre les armes lorsqu'il s'agit de défendre l'honneur des siens.  
    </p><br/>
</div>

<details class="container">
    <summary class="pb-4">
        <h6 class="bouton">DÉCOUVRIR SON POUVOIR</h6>
    </summary>
    <p class="text-center"><b>Pouvoir :</b> <i>Gardienne Céleste</i> (2 <img src="/ressources/icons/Energie.png" class="energy-icon" alt="énergie">) <br/> Tous vos Dieux gagnent +1 <img src="/ressources/icons/Défenses.png" class="defense-icon" style="width: 50px; !important" alt="défenses"> jusqu'à la fin du Tour.</p>
</details>

<div class="container text-center py-4">
    <img class="img-fluid" src="/ressources/icons/Séparateur blanc.png" alt="séparateur"/>
</div>

<div class="row" style="text-align-last: center;">
    <div class="col-12 py-5 text-center">
        <img src="/ressources/brand/Boite grec-meso.jpg" height="500" style="box-shadow: #ffffff 1px 0 20px;" alt="Boite grec vs mésopotamien"><br/>
    </div>
    <div class="col-12">
        <span class="d-flex justify-content-evenly text-center p-2">
          <a class="bouton link-underline link-underline-opacity-0" href="/boutique">Commander maintenant</a>
        </span>
    </div>
</div>

{% endblock %}
