{% extends 'layouts/base.html.twig' %}

{% block title %}Dernières mises à jour{% endblock %}

{% block body %}
    <div class="banniere">
        <div class="banniere-content" style="font-size: 80px;">
            CONDITIONS GÉNÉRALES
        </div>
    </div>

    <div class="container container-info"><h3>CONDITIONS GÉNÉRALES DE VENTE ET D'UTILISATION</h3>

        <h5><b>1. Objet</b></h5>
        <p>Les présentes Conditions Générales de Vente et d'Utilisation (ci-après "CGVU") régissent l'accès et
        l'utilisation du site web www.pantheons-battleofgods. En accédant au Site ou en l'utilisant, vous
        acceptez d'être lié par les présentes CGVU.</p>
        <h5><b>2. Identification de l'éditeur</b></h5>
        <p>Le Site est édité par Anton Bardax Creation, société au statut d'Entrepreneur Individuel,
        immatriculée au CMAR Normandie, sous le numéro 924250376, dont le siège social est situé au 11
        Ter Rue Paul Philippe 50260 Bricquebec en Cotentin</p>
        <h5><b>3. Produits et services</b></h5>
        <p>Le Site web www.pantheons-battleofgods propose de découvrir la gamme de jeux de carte pour
        deux joueurs Panthéons Battle of Gods ainsi que son fonctionnement et ses caractéristiques
        principales. Les Produits proposés à la vente font l'objet d'un descriptif permettant au Client de
        connaître leurs caractéristiques principales, et notamment les spécifications, ainsi que leur prix.
        Anton Bardax Creation s'engage à apporter les informations les plus précises possibles. Toutefois,
        si des erreurs ou omissions se produisent, la responsabilité de Anton Bardax Creation ne pourra
        être engagée.</p>
        <h5><b>4. Commande</b></h5>
        <p>Pour passer une commande, l'utilisateur doit suivre le processus de commande en ligne décrit sur le
        Site. La validation de la commande implique l'acceptation pleine et entière des présentes CGVU.</p>
        <h5><b>5. Prix</b></h5>
        <p>Les prix des produits et services sont indiqués en euros toutes taxes comprises, hors frais de
        livraison. Anton Bardax Creation se réserve le droit de modifier les prix à tout moment, mais les
        produits et services seront facturés sur la base des tarifs en vigueur au moment de la validation de la
        commande.</p>
        <h5><b>6. Paiement</b></h5>
        <p>Le paiement s'effectue en ligne via les moyens de paiement sécurisés proposés sur le Site. La
        commande sera considérée comme validée une fois le paiement reçu.</p>
        <h5><b>7. Livraison</b></h5>
        <p>Les produits seront livrés à l'adresse indiquée par l'utilisateur lors de la commande, dans les délais
        mentionnés sur le Site. Anton Bardax Creation ne pourra être tenue responsable en cas de retard
        de livraison imputable au transporteur ou à des causes indépendantes de sa volonté.</p>
        <h5><b>8. Droit de rétractation</b></h5>
        <p>Conformément à la législation en vigueur, l'utilisateur dispose d'un délai de 14 jours à compter de la
        réception des produits pour exercer son droit de rétractation, sans avoir à justifier de motifs ni à
        payer de pénalités. Les frais de retour sont à la charge de l'utilisateur.</p>
        <h5><b>9. Garanties</b></h5>
        <p>Les produits bénéficient de la garantie légale de conformité et de la garantie contre les vices cachés.
        En cas de non-conformité d'un produit vendu, il pourra être retourné, échangé ou remboursé.</p>
        <h5><b>10. Responsabilité</b></h5>
        <p>Anton Bardax Creation décline toute responsabilité en cas de dommage résultant de l'utilisation
        du réseau Internet (perte de données, intrusion, virus, interruption de service, etc.). Anton Bardax
        Creation ne pourra être tenue responsable des dommages indirects, tels que la perte d'exploitation,
        la perte de profit ou de chance.</p>
        <h5><b>11. Propriété intellectuelle</b></h5>
        <p>Tous les éléments du Site (textes, images, graphismes, logo, etc.) sont la propriété exclusive de
        Anton Bardax Creation. Toute reproduction, représentation, modification, publication, adaptation
        de tout ou partie des éléments du Site, quel que soit le moyen ou le procédé utilisé, est interdite,
        sauf autorisation écrite préalable de Anton Bardax Creation.</p>
        <h5><b>12. Données personnelles</b></h5>
        <p>Anton Bardax Creation s'engage à respecter la confidentialité des données personnelles fournies
        par les utilisateurs du Site et à les traiter dans le respect de la réglementation en vigueur. Pour plus
        d'informations, veuillez consulter notre [Politique de Confidentialité].</p>
        <h5><b>13. Modification des CGVU</b></h5>
        <p>Anton Bardax Creation se réserve le droit de modifier les présentes CGVU à tout moment. Les
        modifications prendront effet dès leur publication sur le Site. Il est conseillé de consulter
        régulièrement les CGVU pour prendre connaissance des éventuelles modifications.</p>
        <h5><b>14. Droit applicable et juridiction compétente</b></h5>
        <p>Les présentes CGVU sont soumises au droit français. En cas de litige et à défaut de solution
        amiable, les tribunaux de Cherbourg en Cotentin seront seuls compétents.
        Pour toute question concernant ces CGVU, veuillez nous contacter à pantheons.battleofgods@gmail.com</p>
        <h5><b>15. Identification du Vendeur</b></h5>
        <p>Les informations de contact de Anton Bardax Creation sont les suivantes :
        - Forme et dénomination : EI Anton Bardax Creation
        - Adresse du siège social : 11 Ter rue Paul Philippe, 50260 Bricquebec-en-Cotentin, FRANCE
        - Numéro SIREN : 924 250 376
        - Activité (code APE / NAF) : Création jeux et jouets (3240Z)
        - Email de contact : pantheons.battleofgods@gmail.com</p>
    </div>

{% endblock %}