{% extends 'layouts/base.html.twig' %}

{% block title %}Dernières mises à jour{% endblock %}

{% block body %}
    <div class="banniere">
        <div class="banniere-content">
            MISES A JOUR
        </div>
    </div>
    <!-- Code pour les mises à jour -->
{% endblock %}
