{% extends 'layouts/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <div class="banniere">
        <div class="banniere-content">
            CONTACT
        </div>
    </div>

    <div class="container container-info" style="font-size: 20px;">
        {{ form(form) }}
    </div>
{% endblock %}
