{% extends 'layouts/base.html.twig' %}

{% block title %}{{ 'Contact'|escape }}{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message|escape }}
        </div>
    {% endfor %}

    <div class="banniere">
        <div class="banniere-content">
            {{ 'CONTACT'|escape }}
        </div>
    </div>

    <div class="container container-info" style="font-size: 20px; justify-items: center;">
        {{ form(form) }}
    </div>
{% endblock %}
